# Default Setup
USERNAME=YOURID 
PASSWORD=YOUR_PASSWORD
COUNT=5
USERNAME_KYU=
PASSWORD_KYU=
COUNT_KYU=

# For Notifications
SLACK_WEBHOOK_URL=
DISCORD_WEBHOOK_URL=YOUR_DISCORD_WEBHOOK_URL
DISCORD_WEBHOOK_URL_KYU=
TELEGRAM_BOT_TOKEN=
